<div class="password-change-section">
  <h2>Ndrysho fjalëkalimin</h2>
  <p>Sigurohuni që fjalëkalimi i ri juaj të jetë i fortë dhe i vështirë për t'u hamendësuar.</p>

  <form [formGroup]="changePasswordFormGroup" class="modern-form">
    <mat-form-field appearance="outline">
      <mat-label>Fjalëkalimi aktual</mat-label>
      <input matInput formControlName="currentPassword" [type]="hidePass ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePass">
        <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordFormGroup.get('currentPassword')?.hasError('required')">Fushë e detyrueshme
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fjalëkalim i ri</mat-label>
      <input matInput formControlName="newPassword" [type]="hidePass1 ? 'password' : 'text'">
      <mat-icon matSuffix
                matTooltip="1. Të paktën 8 karaktere 2. Të paktën një karakter special 3. Të paktën një shkronjë të madhe 4. Të paktën një numër">
        info
      </mat-icon>
      <button mat-icon-button matSuffix (click)="hidePass1 = !hidePass1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePass1">
        <mat-icon>{{ hidePass1 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('required')">Fushë e detyrueshme
      </mat-error>
    </mat-form-field>
  </form>

  <div class="form-actions">
    <button mat-flat-button color="primary" (click)="emitPasswordChange()" [disabled]="!changePasswordFormGroup.valid">
      Ndrysho
    </button>
  </div>
</div>
