<div class="container">
  <img src="assets/svgImages/logo.svg" alt="brainGain-logo" routerLink="/" class="logo"/>

  <div class="cards-wrapper">
    <div class="card student-card">
      <h2 class="card-title">{{ 'membership.student.title' | translate }}</h2>
      <p class="card-description">{{ 'membership.student.description' | translate }}</p>
      <button class="btn primary-btn" routerLink="/student/membership">{{ 'membership.student.register' | translate }}</button>
    </div>

    <div class="card supervisor-card">
      <h2 class="card-title">{{ 'membership.supervisor.title' | translate }}</h2>
      <p class="card-description">{{ 'membership.supervisor.description' | translate }}</p>
      <button class="btn primary-btn" routerLink="/supervizor/apliko">{{ 'membership.supervisor.apply' | translate }}</button>
    </div>

    <div class="card family-card">
      <h2 class="card-title">{{ 'membership.family.title' | translate }}</h2>
      <p class="card-description">{{ 'membership.family.description' | translate }}</p>
      <button class="btn primary-btn" routerLink="/family/membership">{{ 'membership.family.register' | translate }}</button>
    </div>
  </div>

  <button class="btn secondary-btn" routerLink="/hyr">{{ 'membership.login' | translate }}</button>
</div>