<div class="container">
  <img src="assets/svgImages/logo.svg" alt="brainGain-logo" routerLink="/"/>

  <div class="cards">
    <!-- Student Card -->
    <div class="card student">
      <h2>Nxënës</h2>
      <button class="primary" routerLink="/regjistrohu">Regjistrohu</button>
<!--      <button class="secondary">Mësoni më shumë</button>-->
    </div>

    <!-- Supervizor Card -->
    <div class="card supervizor">
      <h2>Supervizor</h2>
      <button class="primary" routerLink="/apliko">Apliko</button>
<!--      <button class="tertiary">Mësoni më shumë</button>-->
    </div>
  </div>
</div>
