<div class="container">
  <div class="register-container">
    <div class="left">
      <img class="image" src="assets/svgImages/registerIcon.svg">
    </div>
    <div class="register-body">
      <div class="register-panel">
        <form [formGroup]="registerFormGroup">
          <div class="field-container">
            <mat-form-field appearance="outline" class="field-half">
              <mat-label>{{ 'common.firstName' | translate }}</mat-label>
              <input matInput [placeholder]="'common.firstName' | translate" formControlName="firstName" required>
              <mat-error *ngIf="registerFormGroup.get('firstName')?.hasError('required')">
                {{ 'common.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-half">
              <mat-label>{{ 'common.lastName' | translate }}</mat-label>
              <input matInput [placeholder]="'common.lastName' | translate" formControlName="lastName" required>
              <mat-error *ngIf="registerFormGroup.get('lastName')?.hasError('required')">
                {{ 'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="field-full">
            <mat-label>{{ 'common.email' | translate }}</mat-label>
            <input matInput [placeholder]="'common.email' | translate" formControlName="email" required>
            <mat-error *ngIf="registerFormGroup.get('email')?.hasError('required')">
              {{ 'common.required' | translate }}
            </mat-error>
          </mat-form-field>
          <div class="field-container">
            <mat-form-field appearance="outline" class="field-half">
              <mat-label>{{ 'auth.register.birthday' | translate }}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="registerFormGroup.get('dateOfBirth')?.hasError('required')">
                {{ 'common.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-half">
              <mat-label>{{ 'common.school' | translate }}</mat-label>
              <input matInput [placeholder]="'common.school' | translate" formControlName="school" required>
              <mat-error *ngIf="registerFormGroup.get('school')?.hasError('required')">
                {{ 'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="field-full">
            <mat-label>{{ 'common.currentClass' | translate }}</mat-label>
            <mat-select [placeholder]="'common.currentClass' | translate" formControlName="currentClass" required>
              <mat-option *ngFor="let class of classesList" [value]="class.id">
                {{ class.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerFormGroup.get('currentClass')?.hasError('required')">
              {{ 'common.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field-full">
            <mat-label>{{ 'common.password' | translate }}</mat-label>
            <input matInput [placeholder]="'common.password' | translate" formControlName="password"
                   [type]="hidePass ? 'password' : 'text'" required>
            <mat-icon matSuffix [matTooltip]="'common.passwordTooltip' | translate">info</mat-icon>
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
              <mat-icon>{{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="registerFormGroup.get('password')?.hasError('required')">
              {{ 'common.required' | translate }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>