<div class="container">
  <img src="assets/svgImages/logo.svg" alt="brainGain-logo" routerLink="/">
  <div class="login-container">
    <div class="login-body">
      <div class="login-form">
        <h2>{{ 'auth.login.title' | translate }}</h2>
        <form [formGroup]="loginFormGroup">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{ 'common.email' | translate }}</mat-label>
            <input matInput [placeholder]="'common.email' | translate" formControlName="email" required>
            <mat-error *ngIf="loginFormGroup.get('email')?.hasError('required')">
              {{ 'common.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{ 'common.password' | translate }}</mat-label>
            <input matInput [placeholder]="'common.password' | translate" formControlName="password"
                   [type]="hidePass ? 'password' : 'text'" required>
            <mat-icon matSuffix [matTooltip]="'common.passwordTooltip' | translate">info</mat-icon>
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
              <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">
              {{ 'common.required' | translate }}
            </mat-error>
          </mat-form-field>
          <div class="forget-pass"><span (click)="openDialog()">{{ 'auth.login.forgotPassword' | translate }}</span></div>
          <div class="btn-container">
            <button mat-button (click)="onLogin()" [disabled]="!isLoginFormValid()">{{ 'auth.login.submit' | translate }}</button>
          </div>
          <p class="signup-text">{{ 'auth.login.noAccount' | translate }}<a routerLink="/membership">{{ 'auth.login.register' | translate }}</a></p>
        </form>
      </div>
    </div>
    <div class="right">
      <img src="assets/svgImages/loginIcon.svg">
    </div>
  </div>
</div>