<div class="center-container">
  <div class="center-content">
    <div class="not-found-body">
      <div class="not-found-container">
        <h3>{{ 'notFound.title' | translate }}</h3>
        <h1>
          <span>4</span>
          <span>0</span>
          <span>4</span>
        </h1>
      </div>
      <h2>{{ 'notFound.description' | translate }}</h2>
      <button mat-flat-button color="primary" (click)="goToInfo()">{{ 'notFound.backToHome' | translate }}</button>
    </div>
  </div>
</div>