<div class="app-container">
  <div class="section-title">
    <h1>{{ 'admin.manageQuiz.title' | translate }}</h1>
  </div>
  <div class="action-button-row">
    <button mat-raised-button (click)="goBack()" matTooltipPosition="above"
            class="back-button" color="warn">
      <mat-icon>arrow_back</mat-icon>
      {{ 'admin.manageQuiz.back' | translate }}
    </button>
    <button mat-raised-button color="primary" class="add-button" (click)="goToAddQuiz()">
      <mat-icon>add</mat-icon>
      {{ 'admin.manageQuiz.add' | translate }}
    </button>
  </div>
  <ng-container *ngIf="this.dataSource.data.length > 0">
    <div class="search-bar-container">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>{{ 'admin.manageQuiz.search.label' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'admin.manageQuiz.search.placeholder' | translate"
          (keyup)="applyFilter($event)"
        >
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="modern-table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.manageQuiz.col.question' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.question }}</td>
        </ng-container>

        <ng-container matColumnDef="explanation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'admin.manageQuiz.col.type' | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ getQuizTypeName(element.quizType) }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'admin.manageQuiz.col.actions' | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <span>{{ 'common.actions' | translate }}</span>
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onEditQuiz(element)">
                <mat-icon>edit</mat-icon>
                <span>{{ 'admin.manageQuiz.action.edit' | translate }}</span>
              </button>
              <button mat-menu-item (click)="onDelete(element)" class="delete-item">
                <mat-icon>delete</mat-icon>
                <span>{{ 'admin.manageQuiz.action.delete' | translate }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator
      #paginator
      showFirstLastButtons
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)">
    </mat-paginator>
  </ng-container>
  <div *ngIf="dataSource.data.length === 0" class="no-data-message">
    <p>{{ 'admin.manageQuiz.noData' | translate }}</p>
  </div>
</div>