<div class="container">
  <app-header class="header" (toggleSidenav)="toggleSideNav()"
              [isSideNavOpen]="isSideNavOpen"></app-header>
  @if (showSideNav()) {
    <mat-sidenav-container class="content-container">
      <mat-sidenav #sidenav
                   mode="side"
                   [(opened)]="isSideNavOpen"
                   class="admin-sidenav"
                   (mouseenter)="onSidenavHover()"
                   (mouseleave)="onSidenavLeave()">
        <app-sidebar></app-sidebar>
      </mat-sidenav>

      <mat-sidenav-content [class.sidenav-closed]="!isSideNavOpen">
        <main class="content-admin">
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  } @else {
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  }
  <app-footer class="footer"></app-footer>
</div>
