.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .content-container {
    flex: 1;
    margin-top: 80px; // Spazio per l'header
    padding-bottom: 60px; // Spazio per il footer
    height: calc(100vh - 140px); // Altezza fissa per gestire lo scroll interno se necessario

    .admin-sidenav {
      width: 250px;
      background: #259ccb4f;
      color: white;
      padding-top: 20px;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
      margin-top: 80px; // Allineato con l'inizio del contenuto sotto l'header
      height: calc(100vh - 80px);
      position: fixed; // Anche la sidenav è fissa
      transition: width 0.3s ease;

      &.mat-drawer-collapsed {
        width: 0;
        overflow: hidden;
      }
    }

    mat-sidenav-content {
      margin-left: 250px; // Spazio per la sidenav aperta
      padding: 20px;
      transition: margin-left 0.3s ease;
      position: relative;

      // Il CSS per .toggle-btn è stato rimosso da qui.

      &.sidenav-closed {
        margin-left: 0; // Sposta il contenuto a sinistra quando la sidenav è chiusa
      }

      .content-admin {
        flex: 1;
        padding-bottom: 60px;
        min-height: calc(100vh - 140px - 40px);
      }
    }
  }

  .content { // Questo è per il layout senza sidenav, assicurati che abbia un'altezza minima per lo scroll
    flex: 1;
    margin-top: 80px;
    padding: 20px;
    padding-bottom: 60px;
    min-height: calc(100vh - 140px);
  }

  .footer {
    width: 100%;
    margin-top: auto;
    position: relative;
    z-index: 5;
  }
}
