<div class="quiz-container">
  <div class="quiz-box question">
    <div class="box-content">
      <div class="icon">?</div>
      <div class="text">Qui va il testo della tua domanda...</div>
    </div>
  </div>

  <div class="options-grid">
    <div class="quiz-box option">
      <div class="box-content">
        <div class="icon">A</div>
        <div class="text">Opzione di risposta A</div>
      </div>
    </div>

    <div class="quiz-box option">
      <div class="box-content">
        <div class="icon">B</div>
        <div class="text">Opzione di risposta B</div>
      </div>
    </div>

    <div class="quiz-box option">
      <div class="box-content">
        <div class="icon">C</div>
        <div class="text">Opzione di risposta C</div>
      </div>
    </div>

    <div class="quiz-box option">
      <div class="box-content">
        <div class="icon">D</div>
        <div class="text">Opzione di risposta D</div>
      </div>
    </div>
  </div>
</div>
