<div class="container">
  <div class="title">
    <h1>{{ 'admin.learnhub.title' | translate }}</h1>
  </div>

  <form [formGroup]="learnHubFormGroup" class="form-container">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>{{ 'admin.manageLearnhub.titleField' | translate }}</mat-label>
      <input matInput formControlName="title" required>
      <mat-error *ngIf="learnHubFormGroup.get('title')?.hasError('required')">
        {{ 'common.required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>{{ 'admin.manageLearnhub.descriptionField' | translate }}</mat-label>
      <textarea matInput formControlName="description" rows="9" required></textarea>
      <mat-error *ngIf="learnHubFormGroup.get('description')?.hasError('required')">
        {{ 'common.required' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="field-container">
      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>{{ 'admin.manageLearnhub.classField' | translate }}</mat-label>
        <mat-select formControlName="classType" required>
          <mat-option *ngFor="let class of classesList" [value]="class.id">
            {{ class.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="learnHubFormGroup.get('classType')?.hasError('required')">
          {{ 'common.required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>{{ 'admin.manageLearnhub.subjectField' | translate }}</mat-label>
        <mat-select formControlName="subject" required>
          <mat-option *ngFor="let subject of subjectList" [value]="subject.id">
            {{ subject.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="learnHubFormGroup.get('subject')?.hasError('required')">
          {{ 'common.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container">
      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>{{ 'admin.manageLearnhub.difficultyField' | translate }}</mat-label>
        <input matInput formControlName="difficulty" type="number" required>
        <mat-error *ngIf="learnHubFormGroup.get('difficulty')?.hasError('required')">
          {{ 'common.required' | translate }}
        </mat-error>
        <mat-error *ngIf="learnHubFormGroup.get('difficulty')?.hasError('min')">
          {{ 'admin.manageLearnhub.difficultyMin' | translate }}
        </mat-error>
        <mat-error *ngIf="learnHubFormGroup.get('difficulty')?.hasError('max')">
          {{ 'admin.manageLearnhub.difficultyMax' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 48%;">
        <mat-label>{{ 'admin.manageLearnhub.isFreeField' | translate }}</mat-label>
        <mat-select formControlName="isFree" required>
          <mat-option [value]="true">{{ 'common.yes' | translate }}</mat-option>
          <mat-option [value]="false">{{ 'common.no' | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="learnHubFormGroup.get('isFree')?.hasError('required')">
          {{ 'common.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-container" *ngIf="learnHubFormGroup.get('isFree')?.value === false">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>{{ 'admin.manageLearnhub.tierField' | translate }}</mat-label>
        <mat-select formControlName="tier" required>
          <mat-option *ngFor="let tier of tiersList" [value]="tier.value">
            {{ tier.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="learnHubFormGroup.get('tier')?.hasError('required')">
          {{ 'common.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="section-container">
      <p>{{ 'admin.manageLearnhub.linksSection' | translate }}</p>
      <button mat-raised-button color="primary" class="add-button" (click)="addRow()">
        <mat-icon>add_circle_outline</mat-icon>
        {{ 'admin.manageLearnhub.addLink' | translate }}
      </button>
    </div>
    <div formArrayName="links" class="numbered-rows">
      <div *ngIf="links.invalid && links.length == 0" class="error-message">
        {{ 'admin.manageLearnhub.linkRequired' | translate }}
      </div>
      <div *ngFor="let row of links.controls; let i = index" [formGroupName]="i" class="row-container">
        <div class="row-content">
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>{{ 'admin.manageLearnhub.linkLabel' | translate }} {{ i + 1 }}</mat-label>
            <input matInput formControlName="title" required>
            <mat-error *ngIf="row.get('title')?.hasError('required')">
              {{ 'common.required' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-icon
            *ngIf="row.get('id')?.value"
            matTooltip="Menaxho Kuizet"
            class="manage-icon"
            (click)="goToQuiz(row)">
            visibility
          </mat-icon>

          <mat-icon
            matTooltip="Fshije Linkun"
            class="delete-icon"
            (click)="removeRow(i)">
            delete_outline
          </mat-icon>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <button mat-raised-button (click)="goBack()" matTooltipPosition="above" color="warn">
        <mat-icon>arrow_back</mat-icon>
        {{ 'admin.manageLearnhub.back' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="handleButtonClick()" [disabled]="!isFormValid() || learnHubFormGroup.pristine">
        {{ isEditMode ? ('admin.manageLearnhub.update' | translate) : ('admin.manageLearnhub.create' | translate) }}
      </button>
    </div>
  </form>
</div>