.reset-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}


.reset-body {
  background: white;
  padding: 40px;
  width: 65%;
  border: 1px solid white;
  border-radius: 25px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}


.reset-body h2,
.info-section h2 {
  margin-bottom: 20px;
}

.reset-form .btn-container button {
  width: 100%;
  padding: 10px;
  background-color: #4FD19A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background-color: #D2DAE5;
  }
}

.forget-pass {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 20px 0;

  span {
    text-decoration: underline;
    color: #2e34df;
    cursor: pointer;
  }
}

// .btn-container>button:disabled {
//     background-color: #D2DAE5;
//     color: white;
// }

.reset-body form {
  max-width: 680px;
}

.reset-body p {
  margin-top: 20px;
}

.reset-body a {
  margin-left: 10px;
  text-decoration: underline;
  color: #2e34df;
  cursor: pointer;
}

.mat-mdc-form-field {
  margin-bottom: 10px;
}

.info-section {
  background-image: linear-gradient(to top, #c6f1f5, #b0e9ed, #99e1e5, #80d9dc, #65d1d2, #49c6d5, #2abbd7, #00afd9, #009ae7, #0081f1, #0062f1, #2e34df);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

.reset-form {
  width: 100%;
  max-width: 680px;
}

.login-img {
  position: absolute;
  right: 0;
  z-index: 3;
  max-width: 550px;
  bottom: 0;
}

mat-icon {
  color: #536065;
}
