<div class="reset-container">
  <div class="reset-body">
    <div class="reset-form">
      <h2>Reset Password</h2>
      <form [formGroup]="resetPassForm">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Password-i ri</mat-label>
          <input matInput placeholder="Password" formControlName="password"
                 [type]="hidePass ? 'password' : 'text'" required>
          <mat-icon matSuffix
                    matTooltip="1. Të paktën 8 karaktere 2. Të paktën një karakter special 3. Të paktën një shkronjë të madhe 4. Të paktën një numër">
            info
          </mat-icon>
          <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="resetPassForm.get('password')?.hasError('required')">
            Fushë e detyrueshme
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Konfirmo Password-in</mat-label>
          <input matInput placeholder="Password" formControlName="confirmPassword"
                 [type]="hidePass2 ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hidePass2 = !hidePass2"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass2">
            <mat-icon>{{hidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <!-- <mat-error *ngIf="takeErrorForm()">
              Fushë e detyrueshme
          </mat-error> -->
          <mat-error *ngIf="resetPassForm.hasError('confirmPasswordValidator','confirmPassword')">
            Fjalekalimi Nuk perputhet
          </mat-error>
        </mat-form-field>
        <div class="btn-container">
          <button mat-button (click)="reset()" [disabled]="!isResetFormValid()">Reset</button>
        </div>
      </form>
    </div>
  </div>
  <div class="info-section">
  </div>
  <img class="login-img" src="assets/svgImages/resetPassword.svg">
</div>
