<div class="reset-container">
  <div class="reset-body">
    <div class="reset-form">
      <h2>{{ 'auth.resetPassword.title' | translate }}</h2>
      <form [formGroup]="resetPassForm">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'auth.resetPassword.newPassword' | translate }}</mat-label>
          <input matInput [placeholder]="'common.password' | translate" formControlName="password"
                 [type]="hidePass ? 'password' : 'text'" required>
          <mat-icon matSuffix [matTooltip]="'common.passwordTooltip' | translate">info</mat-icon>
          <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="resetPassForm.get('password')?.hasError('required')">
            {{ 'common.required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'auth.resetPassword.confirmPassword' | translate }}</mat-label>
          <input matInput [placeholder]="'common.password' | translate" formControlName="confirmPassword"
                 [type]="hidePass2 ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hidePass2 = !hidePass2"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass2">
            <mat-icon>{{hidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="resetPassForm.hasError('confirmPasswordValidator','confirmPassword')">
            {{ 'auth.resetPassword.mismatch' | translate }}
          </mat-error>
        </mat-form-field>
        <div class="btn-container">
          <button mat-button (click)="reset()" [disabled]="!isResetFormValid()">{{ 'auth.resetPassword.title' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="info-section">
  </div>
</div>