<div class="container">
  <app-dynamic-banner [bannerType]="'quiz'"></app-dynamic-banner>
  <div class="title">
    <h1>Kurset nga Klasa e Parë deri në Klasën e Nëntë</h1>
    <p>
      Ndërtoni njohuri të thella në matematikë, shkencë, histori dhe më shumë. Programi ynë ofron metoda efikase
      për zhvillimin e njohurive dhe aftësive në lëndët kryesore. Përmes përqendrimit në konceptet thelbësore dhe
      trajnimit të mendimit kritik, ne ju përgatisim për sukses në çdo sferë të jetës.
    </p>
  </div>
  <app-courses-tabs></app-courses-tabs>
</div>
