<div class="container">
  <div class="banner">
    <h1>Paketat tona të çmimeve të gatshme</h1>
    <img src="assets/svgImages/membership.svg"
         alt="Illustrazione di persone che studiano, simboleggiante l'iscrizione e l'appartenenza.">
  </div>
  <div class="title">
    <h1>Ne krijojmë një paketë çmimesh mujore për të gjithë studentët standardë</h1>
    <p>
      Në thelb ne e krijojmë këtë paketë për ata që janë vërtet të interesuar dhe përfitojnë nga kurset apo librat
      tanë. Ne duam të bëjmë një paketë me kosto të ulët per ta. Në mënyrë që ata të blejnë çdo kurs me paketën që
      blejnë nga ne. Gjithashtu do të merrni libra falas nga çdo paketë.
    </p>
  </div>

  <div class="registration-flow">
    <h2 class="flow-title">Si të Regjistroheni: Një Proces i Thjeshtë</h2>
    <div class="flow-steps">
      <div class="step-card">
        <div class="number-wrapper">
          1
        </div>
        <h3>Zgjidhni Paketën Tuaj</h3>
        <p>Fillimisht, zgjidhni paketën e çmimeve që i përshtatet më së miri nevojave tuaja nga opsionet e
          disponueshme.</p>
      </div>
      <div class="arrow-icon">
        &#10140;
      </div>
      <div class="step-card">
        <div class="number-wrapper">
          2
        </div>
        <h3>Plotësoni Formularin</h3>
        <p>Pas zgjedhjes së paketës, plotësoni me kujdes të gjitha fushat e kërkuara nel formularin e regjistrimit.</p>
      </div>
      <div class="arrow-icon">
        &#10140;
      </div>
      <div class="step-card">
        <div class="number-wrapper">
          3
        </div>
        <h3>Finalizoni Regjistrimin</h3>
        <p>Pasi të keni plotësuar formularin dhe zgjedhur paketën, klikoni "Regjistrohu dhe Pago" për të krijuar
          llogarinë tuaj dhe të vazhdoni me pagesën.</p>
      </div>
    </div>
  </div>
  <app-packege-cards #packageComponent></app-packege-cards>
  <div class="title">
    <h1>Bëhuni pjesë e komunitetit tonë të studentëve</h1>
    <p>
      Regjistrohuni tani për të përfituar nga të gjitha avantazhet e anëtarësimit tonë. Me një regjistrim të thjeshtë,
      do të keni qasje në të gjitha kurset tona, materiale ekskluzive. Çdo student i regjistruar
      merr mundësinë të mësojë in ritmin e tij dhe të përfitojë nga çmime të veçanta.
    </p>
    <p>
      Mos humbisni këtë mundësi - regjistrohuni sot dhe hapni derën per një eksperiencë të re mësimore!
    </p>
  </div>
  <app-register #registerComponent></app-register>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      class="payment-button"
      [disabled]="!(membershipStudentService.isSubmitEnabled$ | async) || loading"
      (click)="handlePayment()"
    >
      <span *ngIf="!loading">Regjistrohu dhe Pago</span>
      <span *ngIf="loading">
        <mat-spinner diameter="20"></mat-spinner>
        Processing...
      </span>
    </button>
  </div>
</div>
