<div class="container">
  <div class="banner">
    <h1>Menaxhimi i studentëve në një platformë të unifikuar</h1>
    <img class="image" src="assets/svgImages/supervizor.svg">
  </div>

  <div class="title">
    <h1>Bëhuni pjesë e platformës sonë për administrimin e studentëve</h1>
    <p>
      Regjistrohuni tani si supervizor për të përfituar nga të gjitha mjetet e menaxhimit të studentëve. Me një
      regjistrim të thjeshtë,
      do të keni qasje në sistemin tonë të plotë për gjurmimin e performancës, komunikimin me studentët dhe
      administrimin e klasave.
    </p>
    <p>
      Mos humbisni këtë mundësi - regjistrohuni sot dhe transformoni mënyrën si administroni studentët në shkollën tuaj!
    </p>
  </div>

  <div class="form-container">
    <div class="register-panel">
      <form [formGroup]="registerSupervizorFormGroup">
        <h2>Plotëso Formularin</h2>
        <mat-form-field appearance="outline">
          <mat-label>Emri i Shkollës</mat-label>
          <input matInput placeholder="Emri i Shkollës" formControlName="schoolName" required>
          <mat-error *ngIf="registerSupervizorFormGroup.get('schoolName')?.hasError('required')">
            Fushë e detyrueshme
          </mat-error>
        </mat-form-field>

        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Emri i Personit të Kontaktit</mat-label>
            <input matInput placeholder="Emri" formControlName="contactPersonFirstName" required>
            <mat-error *ngIf="registerSupervizorFormGroup.get('contactPersonFirstName')?.hasError('required')">
              Fushë e detyrueshme
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mbiemri i Personit të Kontaktit</mat-label>
            <input matInput placeholder="Mbiemri" formControlName="contactPersonLastName" required>
            <mat-error *ngIf="registerSupervizorFormGroup.get('contactPersonLastName')?.hasError('required')">
              Fushë e detyrueshme
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Email i Personit të Kontaktit</mat-label>
          <input matInput placeholder="Email" formControlName="contactPersonEmail" required>
          <mat-error *ngIf="registerSupervizorFormGroup.get('contactPersonEmail')?.hasError('required')">
            Fushë e detyrueshme
          </mat-error>
          <mat-error *ngIf="registerSupervizorFormGroup.get('contactPersonEmail')?.hasError('email')">
            Email i pavlefshëm
          </mat-error>
        </mat-form-field>

        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Telefoni i Personit të Kontaktit</mat-label>
            <input matInput placeholder="Nr. Telefonit" formControlName="contactPersonPhone" required>
            <mat-error *ngIf="registerSupervizorFormGroup.get('contactPersonPhone')?.hasError('required')">
              Fushë e detyrueshme
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Qyteti</mat-label>
            <mat-select placeholder="Qyteti" formControlName="city" required>
              <mat-option *ngFor="let cities of citiesList" [value]="cities.name">
                {{ cities.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerSupervizorFormGroup.get('city')?.hasError('required')">
              Fushë e detyrueshme
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Adresa</mat-label>
          <textarea matInput placeholder="Adresa e plotë" formControlName="address" rows="3" required></textarea>
          <mat-error *ngIf="registerSupervizorFormGroup.get('address')?.hasError('required')">
            Fushë e detyrueshme
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Informacione Shtesë (Opsionale)</mat-label>
          <textarea matInput placeholder="Informacione shtesë" formControlName="additionalInfo" rows="3"></textarea>
        </mat-form-field>

        <div class="btn-container">
          <button mat-button [disabled]="!isRegisterFormValid()" (click)="submitRequest()">Apliko</button>
        </div>
      </form>
    </div>
  </div>
</div>
