<div class="container">
  <div class="img-container">
    <img src="assets/svgImages/forgotPassImage.svg" alt="forget-pass-img">
  </div>
  <div class="email-container">
    <mat-icon (click)="closeModal()">close</mat-icon>
    <div class="email-form">
      <h3>{{ 'auth.forgotPassword.title' | translate }}</h3>
      <span>{{ 'auth.forgotPassword.description' | translate }}</span>
      <form [formGroup]="emailForm">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>{{ 'common.email' | translate }}</mat-label>
          <mat-icon matPrefix> email</mat-icon>
          <input matInput [placeholder]="'common.email' | translate" formControlName="email" required>
          <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
            {{ 'common.required' | translate }}
          </mat-error>
        </mat-form-field>
        <div class="btn-container">
          <button mat-button [disabled]="!isFormvalid()" (click)="sendEmail()">{{ 'auth.forgotPassword.submit' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>