<div class="container">
  <div class="img-container">
    <img src="assets/svgImages/forgotPassImage.svg" alt="forget-pass-img">
  </div>
  <div class="email-container">
    <mat-icon (click)="closeModal()">close</mat-icon>
    <div class="email-form">
      <h3>Harruat fjalëkalimin?</h3>
      <span>Ju lutem vendosni adresën tuaj të email-it për të marrë udhëzimet për ndryshimin e
                fjalëkalimit.</span>
      <form [formGroup]="emailForm">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix> email</mat-icon>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
            Fushë e detyrueshme
          </mat-error>
        </mat-form-field>
        <div class="btn-container">
          <button mat-button  [disabled]="!isFormvalid()" (click)="sendEmail()">Dërgo</button>
        </div>
      </form>
    </div>
  </div>
</div>
