$blueCustom: #259ccb;

.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.img-container {
  width: 40%;
  height: 100%;
  position: relative;
  background: rgb(54, 172, 218);
  background: -moz-linear-gradient(180deg, rgba(54, 172, 218, 1) 12%, rgba(82, 103, 235, 0.11808473389355745) 69%, rgba(219, 91, 56, 0.06766456582633051) 99%);
  background: -webkit-linear-gradient(180deg, rgba(54, 172, 218, 1) 12%, rgba(82, 103, 235, 0.11808473389355745) 69%, rgba(219, 91, 56, 0.06766456582633051) 99%);
  background: linear-gradient(180deg, rgba(54, 172, 218, 1) 12%, rgba(82, 103, 235, 0.11808473389355745) 69%, rgba(219, 91, 56, 0.06766456582633051) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#36acda", endColorstr="#db5b38", GradientType=1);
}

.img-container > img {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 30px;
  padding: 0 10px;
  max-width: 500px;
}

.email-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > mat-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .email-form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h3 {
    text-align: center;
    padding-bottom: 30px;
    flex-grow: 1;
    font-weight: 600;
  }

  form {
    padding: 20px;
  }

  span {
    text-align: center;
    font-weight: 400;
    color: #4a5568;
  }

  .btn-container {
    padding: 10px 0 0 0;

    button {
      width: 100%;
      padding: 10px;
      background-color: $blueCustom;
      color: white;
      border: none;
      border-radius: 40px;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
