@font-face {
    font-family: Lufga-Thin;
    src: url(assets/fonts/lufga/Lufga-Thin.woff) format("woff");
}

@font-face {
    font-family: Lufga-Light;
    src: url(assets/fonts/lufga/Lufga-Light.woff) format("woff");
}

@font-face {
    font-family: Lufga-Regular;
    src: url(assets/fonts/lufga/Lufga-Regular.woff) format("woff");
}

@font-face {
    font-family: Work-Sans-Regular;
    src: url(assets/fonts/work-sans/WorkSans-Regular.ttf) format("truetype");
}