<div class="header">
  <div class="container">
    <div class="h-left">
      <button mat-icon-button
              *ngIf="showPanel()"
              class="sidenav-toggle-btn"
              (click)="onToggleSidenavClick()"
              [matTooltip]="isSideNavOpen ? 'Mbyll menu' : 'Hap menu'">
        <mat-icon>{{ isSideNavOpen ? 'chevron_left' : 'menu' }}</mat-icon>
      </button>

      <div class="logo">
        <a routerLink="/">
          <img src="assets/svgImages/logo.svg" alt="brainGain-logo">
        </a>
      </div>
    </div>
    <div class="h-right" *ngIf="isLogged; else notLoggedIn">
      <button *ngIf="showDashboard()" mat-button routerLink="/student/dashboard">Dashboardi im</button>
      <button *ngIf="showPanel()" mat-button routerLink="/admin/panel">Panel</button>
      <div class="user-menu mat-menu-trigger" [matMenuTriggerFor]="userMenu"
           [matTooltip]="(user$ | async)?.firstName + ' ' + (user$ | async)?.lastName">
        {{ initials$ | async }}
      </div>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="settings">
          <mat-icon>person</mat-icon>
          Profili
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Dil
        </button>
      </mat-menu>
    </div>
    <ng-template #notLoggedIn>
      <div class="h-right">
        <button mat-button routerLink="/hyr">Hyr</button>
        <button mat-button routerLink="/membership">Regjistrohu</button>
      </div>
    </ng-template>
  </div>
</div>
